@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

main {
    position: relative;
    height: 100vh;
    background: bisque url(../imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover; 
}

section#cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) top center no-repeat fixed;
    width: 311px;
    height: 627px;
}

iframe#screen {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}

section#buttons {
    text-align: right;
}

section#buttons img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000090;
    box-sizing: border-box;
}

section#buttons img:hover {
    border: 2px solid #ffffff95;
    transform: translate(-5px, -3px);
    box-shadow: 5px 5px 10px #000000b0;
    transition: transform .3s, box-shadow .5s;
}