:root {
    --green: #49a09d;
    --purple: #5f2c82;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, var(--green), var(--purple));
    }
    .login {
        width: 80vw;
        height: 400px;
    }

    .img {
        width: 30vw;
        height: 100vh;
        float: left;
    }

    .form {
        display: flex;
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .login {
        width: 900px;
        
    }
    
    .img {
        width: 50%;
        float: right;
    }

    .form {
        width: 50%;
        float: left;
    }
}